/* Animación input */
.content-1 {
	text-align: left;
	padding: 20px;
}

.form {
	width: 50%;
	position: relative;
	height: 50px;
	overflow: hidden;
}
.form input {
	width: 100%;
	height: 100%;
	color: #595f6e;
	padding-top: 10px;
	border: none;
	outline: none;
}
.form label {
	position: absolute;
	bottom: 0px;
	left: 0%;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid black;
}
.form label::after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: -1px;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid #5fa8d3;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}
.content-name {
	position: absolute;
	bottom: 5px;
	left: 0px;
	transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
	transform: translateY(-150%);
	font-size: 14px;
	color: #5fa8d3;
}
.form input:focus + .label-name::after, .form input:valid + .label-name::after {
	transform: translateX(0%);
}

/* Animación botón */
.content-2 {
	width: 80%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	max-width: 1200px;
	padding: 48px;
}
.content-2 *, .content-2 ::before, .content-2 ::after {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}
.content-2 h3 {
	flex: 1 100%;
}
.col {
	flex: 1 30%;
	margin: 24px 0;
}
.button {
	display: inline-block;
	font-size: 27px;
	padding: 19px 66px;
	position: relative;
	z-index: 1;
	width: 250px;
}
.button-one {
	border: solid 1px var(--teal);
	color: var(--teal);
}
.button-one::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 100%;
	background: var(--teal);
	z-index: -1;
}
.button-one:hover {
	color: #FFF;
}
.button-one:hover::after {
	right: 0%;
}
.button-two {
	color: var(--orange);
	border: 1px solid var(--orange);
}
.button-two::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: var(--orange);
    z-index: -1;
}
.button-two::before {
    left: 51%;
    right: 50%;
}
.button-two:hover {
    color: var(--white);
}
.button-two:hover::before {
    left: 0;
    right: 0;
}
.button-three {
  	border: 1px solid var(--red);
  	color: var(--red);
  	transition: color ease-in-out 150ms;
}
.button-three::after {
    content: '';
    background: var(--red);
    position: absolute;
    z-index: -1;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
}
.button-three:hover {
    color: var(--white);
}
.button-three:hover::after {
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.button-four {
	border: 1px solid var(--purple);
	color: var(--purple);
	outline: 1px solid var(--purple);
	outline-offset: -1px;
}
.button-four:hover {
    outline-offset: -4px;
}
.button-five {
	border: 1px solid var(--yellow);
	color: var(--yellow);
	outline: 1px solid var(--yellow);
	outline-offset: -1px;
}
.button-five:hover {
    outline: 1px solid var(--yellow);
    outline-offset: 3px;
}
.button-six {
  border: 1px solid var(--pink);
  color: var(--pink);
  outline: 1px solid var(--pink);
  outline-offset: -1px;
}

.button-six:hover {
    outline: 5px solid var(--pink);
    outline-offset: -5px;
}
.button-seven {
	border: var(--blue);
	background: var(--blue);
	color: var(--white);
}
.button-seven::before,
.button-seven::after {
    content: '';
    display: block;
    background: white;
    position: absolute;
}
.button-seven::before,
.button-seven::after {
    height: 2px;
}
.button-seven::before {
    top: 0;
    left: 0;
    right: 100%;
}
.button-seven::after {
    bottom: 0;
    right: 0;
    left: 100%;
}
.button-seven:hover::before {
    right: 0;
}
.button-seven:hover::after {
    left: 0;
}
.button-eight {
	border: 1px solid var(--green);
	background: var(--green);
	outline: 2px solid var(--white);
}
.button-eight:hover {
    outline-offset: -4px;
}
.button-nine {
	border: 1px solid var(--brightteal);
	background: var(--brightteal);
	overflow: hidden;
}
.button-nine::after {
    background: #aeffe0;
    content: '';
    position: absolute;
    width: 30%;
    height: 500%;
    top: -270%;
    left: -35%;
    /*left: 140%;*/
    transform: rotate(45deg);
}
.button-nine:hover::after {
    left: 140%;
}
.button-ten{
	background: var(--purple);
	color: var(--white);
	transition: all cubic-bezier(0.85, 0.17, 0.48, 1.63) 300ms;
	outline: 2px solid var(--white);
}
.button-ten:hover{
    transform: scale(1.15);
    outline-offset: -8px;
}
.button-eleven {
	background: var(--orange);
	color: var(--white);
	transition: all linear 400ms;
}
.button-eleven:hover {
    transform: rotate(5deg);
}
