html {
	--main-color: black;
}
body {
	margin: 0;
	font-family: Gafata;
	text-align: center;
	font-size: 1.5em;
	color: var(--main-color);
}
.btn-back, .btn-top {
	font-size: 34px;
    width: 53px;
    height: 46px;
    margin: 5px;
    position: fixed;
    color: #000;
    padding-top: 10px;
}
.btn-back {
    top: 0;
    left: 0;
}
.btn-back:hover, .btn-top:hover {
    color: #fff;
    background: #cecece;
}
.btn-top {
	top: 0;
	left: 53px;
}
.main-container {
	display: flex;
	flex-direction: column;
	font-size: 30px;
	width: 300px;
	margin: auto;
	text-align: left;
	white-space: nowrap;
}
.main-container ul {
	list-style-type: none;
	padding: 10px 20px;
}
.main-container ul li {
  	border-left: 5px solid var(--main-color);
  	padding-left: 20px;
}
.main-container ul li:hover {
  	border-left: 5px solid #f3f3f3;
}
a.nocolor {
	color: var(--main-color);
	text-decoration: none;
}
.source {
	text-align: left;
	padding: 20px;
	font-size: 20px;
}
.source::before {
	content: "Fuente:";
	margin-right: 10px;
}
.separator {
	background-image: url("separator.png");
  	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 34px;
	margin: 30px 0 20px 0;
}
/* Colores */
.white {
	background: #fff;
}
.green {
	background-color: #d4f2c4;
    border: 1px solid #b9dba9;
}
.coral {
	background: #f7c8ab;
	border: 1px solid #feb180;
}
.blue {
	background: #a9e2ea;
	border: 1px solid #81cfd9;
}
.yellow {
	background: #fee8b4;
	border: 1px solid #ffd675;
}
.pink {
    background: #f5e0e9;
    border: 1px solid #f9bed6;
}
.purple {
    background: #dfd3e4;
    border: 1px solid #d6b6e2;
}