body {
    font-family: 'Monoton', cursive;
    font-size: 8vw;
}

.bg {
    padding: 25vmin 0;
    background-size: cover;
}

.bg-one {
    background-image: url(//unsplash.it/800/800);
}

.bg-two {
    background-image: url(//unsplash.it/800/801);
}

.bg-three {
    background-image: url(//unsplash.it/800/802);
}

.solid {
    padding: 25vh 0;
    background: steelblue;
    text-align: center;
    color: white;
}

p {
    margin: 0;
    line-height: 1;
}
p small {
    font-size: .5em;
    color: rgba(255, 255, 255, 0.7);
}

.source {
    font-family: Gafata;
}