.box {
	height: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.wrap {
	margin: auto;
    margin-bottom: 50px;
    height: 300px;
    width: 60%;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}
