body {
	margin: 0;
	font-family: Gafata;
	text-align: center;
	font-size: 1.5em;
}
.back-btn {
	font-size: 34px;
    width: 53px;
    height: 46px;
    margin: 5px;
    position: absolute;
    top: 0px;
    color: #fff;
    padding-top: 10px;
    background: #848484;
}
.box {
	width: 60%;
	margin: auto;
	height: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.wrap {
    height: 300px;
    margin-bottom: 50px;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

/* Colores */
.white {
	background: #fff;
	/*border: 1px solid #c1c1c1;*/
}
.green {
	background-color: #d4f2c4;
    border: 1px solid #b9dba9;
}
.coral {
	background: #f7c8ab;
	border: 1px solid #feb180;
}
.blue {
	background: #a9e2ea;
	border: 1px solid #81cfd9;
}
.yellow {
	background: #fee8b4;
	border: 1px solid #ffd675;
}
.pink {
    background: #f5e0e9;
    border: 1px solid #f9bed6;
}
.purple {
    background: #dfd3e4;
    border: 1px solid #d6b6e2;
}