.carousel {
	position: relative;
	height: 400px;
	width: 80%;
	margin: 0 auto;
}

.carousel__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carousel__track-container {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.carousel__track {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	height: 100%;
	transition: transform 500ms ease-in;
}

.carousel__slide {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.carousel__button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	font-size: 40px;
	cursor: pointer;
	outline: none;
}

.carousel__button--left {
	left: -40px;
}
.carousel__button--right {
	right: -40px;
}

.carousel__nav {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}
.carousel__indicator {
	border: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: rgb(0,0,0,.3);
	margin: 0 10px;
	outline: none;
	cursor: pointer;
}

.carousel__indicator.current-slide {
	background: rgb(0,0,0,.75);
}