/* Carrusel */
.carousel {
	position: relative;
	height: 400px;
	width: 80%;
	margin: 0 auto 47px;
}
.carousel__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.carousel__track-container {
	height: 100%;
	position: relative;
	overflow: hidden;
}
.carousel__track {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	height: 100%;
	transition: transform 500ms ease-in;
}

.carousel__slide {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.carousel__button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: white;
	border: none;
	font-size: 40px;
	cursor: pointer;
	outline: none;
}
.carousel__button--left {
	left: -40px;
}
.carousel__button--right {
	right: -40px;
}
.carousel__nav {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}
.carousel__indicator {
	border: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: rgb(0,0,0,.3);
	margin: 0 10px;
	outline: none;
	cursor: pointer;
}
.carousel__indicator.current-slide {
	background: rgb(0,0,0,.75);
}

/* Slides con fade */
.background {
	background: black;
	padding: 30px;
}
.background h2 {
	color: white;
}
.slide__container {
	position: relative;
	width: 80%;
	height: 425px;
	margin: 25px auto;
	border: 10px solid white;
	overflow: hidden;
  	height:400px;
}
.slide__photo {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: translateX(-50%);
	animation: round 25s infinite;
	opacity:0;
}

@keyframes round{
	25%{opacity:1;}
	40%{opacity:0;}
}

img:nth-child(5){animation-delay:20s;}
img:nth-child(4){animation-delay:15s;}
img:nth-child(3){animation-delay:10s;}
img:nth-child(2){animation-delay:5s;}
img:nth-child(1){animation-delay:0s;}